body {
  margin: 0px;
}

/* #root {
  
  /* background-image: url("../src/assets/image/pexels-lazybird-1260727.jpg"); */
  /* background-image: url("../src/assets/image/pexels-gdtography-277628-950241.jpg"); */
  /* background-image: url("../src/assets/image/pexels-edward-jenner-4252524.jpg"); */
  /* background-image: url("../src/assets/image/pexels-edward-jenner-4252523.jpg");  */
  /* background-image: url("../src/assets/image/pexels-834934396-20818864.jpg"); */
   /* background-image: url("../src/assets/image/pexels-alteredsnaps-14866180.jpg");  */
  /* background-repeat: no-repeat;  */
  /* background-attachment: fixed;  */
  /* background-size: cover;   
  background-position: center;
  height: "500vh";
  
} 
  */

